/*------ Global use ------*/

@font-face {
    font-family: "Book";
    font-display: fallback;
    src: url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/ca614426b50ca7d007056aa00954764b.woff2") format("woff2"),
         url("https://d3i4yxtzktqr9n.cloudfront.net/uber-sites/a9e39356639e85c045725ab277a8d423.woff") format("woff");
}
  :root{
    --black: #000000;
    --l-black: #333333;
    --white: #FEFEFE;
}
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Book";
  font-display: fallback;
  font-size: 16px;
  line-height: 2rem;
}



/*------ Nav bar ------*/

.navbar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--black);
  text-transform: capitalize;
  z-index: 100;
  padding: 12px;
}
.ul-nav{
  padding: 10px;
  display: flex;
}
.li-nav{
  list-style: none;
  margin: 5px;
}
.a-nav{
  color: var(--white); 
  padding: 8px;
  text-decoration: none;

}
i{
  padding: 0 4px;
}
.left-side ul li:first-child a{
  margin: 5px;
  font-size: 1.1rem;
}
.left-side ul li:first-child a:hover{
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;

}

.li-nav a:hover{
  border-radius: 25px;
  background-color: var(--l-black);
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}
.right-side ul li:last-child a{
  background-color: var(--white);
  color: var(--black);
  border-radius: 25px;
}
nav ul:last-child li:last-child a:hover{
  background-color: var(--l-black);
  color: var(--white);
}

/*------ Sections ------*/

.first-section{
  background: url(./img/Earner_Home_bg_desktop2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 800px;
  z-index: 2;
}

.card{
  width: 35%;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--white);
  z-index: 5;
  position: absolute;
  top: 10%;
  left: 15%;
  padding: 10px 5px;
}
.card ul{ 
  border-bottom: 0.5px solid #eee;
  padding: 20px 0;
}
.li-card{
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 2% 8%;
}
.li-card:hover{
  border-bottom: 2px solid var(--l-black);
  transition: 0.1s linear;
}
.li-card a{
  text-transform: capitalize;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--black);
}
.li-card i{
  display: block;
  padding-bottom: 3px;
}
.card-ch{
  display: flex;
  flex-direction: column;
}
.card-ch h1{
  font-weight: 700;
  padding: 30px 5px;
  align-items: flex-start;
}
.card-ch p{font-weight: 300;}
.btn{
  background-color: var(--black); 
  color: var(--white); 
  align-self: flex-start; 
  padding: 0.9rem ;
  margin: 1.5rem 0.8rem;
  font-size: 1rem;
  border: none transparent;
  cursor: pointer;
}
.btn:hover{background-color: var(--l-black);}
.card-ch p:last-child{
  padding: 5px 0; 
  border-bottom: 0.5px solid #eee;
  width: 325px;
}

.seond-section{
  background: url(./img/HP-U4B-NYC-bkg.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 350px;
  padding: 80px 100px;
}
.seond-section h1,p{margin: 15px 0;}
.seond-section p{font-weight: 300;}

.grid-h{
 display: flex; 
 flex-wrap: wrap;
 margin: 15px 0 5px 230px;
}

.grid-con{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.th-section img{
  width: 500px;
  height: auto;
  margin: 5px;
}
.pic-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  margin: 20px 30px;
}
.pic-card h3{margin: 15px 0;}
.pic-card p,a{
  font-weight: 400;
  margin: 5px 0;
}
.pic-card a{
  text-decoration: none; 
  color: var(--black);
  border-bottom: 0.5px solid #eee;
  font-size: 0.8rem;
}
.pic-card a:hover{
  font-weight: bold;
   color: var(--l-black);
}

.th-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.th-li-card{
  width: 20%;
  margin: 15px 25px;
}
.th-li-card a{text-decoration: none; 
  color: var(--black);
  border-bottom: 0.5px solid #eee;
  font-size: 0.8rem;
}
.th-li-card a:hover{
  font-weight: bold;
  color: var(--l-black);
}
.th-li-card p,a{
  font-weight: 400;
  margin: 5px 0;
}

.fo-section{
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 50px;
}
.grid-f{
  width: 100%;
  padding: 50px 35px;
}
.uber-a{
  background-color: white;
  width: 45%;
  padding: 10px;
  margin: 5px auto;
}
.uber-a img{
  width: 200px;
  height: 200px;
}
.uber-a a{
  text-decoration: none;
  color: var(--black);
  position: static;
  float: right;
  font-size: 1.5rem;
  margin: auto;
  padding: 80px 25px;
}
.uber-a a::after{
  content: "";
  clear: both;
  display: table;
}
.uber-a a:hover{
  color: #333;
  font-weight: 700;
}
.fi-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.uber-b{
  padding: 80px 0;
}
.uber-b a{
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
  border-bottom: 0.5px solid var(--l-black);
  padding-bottom: 20px;
}
.uber-b i{padding-left: 50px;}
.uber-b a:hover{
  color: var(--l-black);
  font-weight: 600;
}

/*------- Footer -----*/

.con-footer{
  background-color: var(--black);
  color: var(--white);
  height:700px ;
  padding-top: 80px;
}

.footer-h{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 80px;
  font-size: 1.5rem;
}
.footer-h a{
  text-decoration: none;
  color: var(--white);
  padding: 20px 0;
  width: 150px;
}
.footer-h a:hover{
  border-bottom: 1px solid var(--white);
}

.footer-li{
  list-style: none;
  float: left;
  padding-left: 80px;
  width: 300px;
  margin-right: 150px;
  text-transform: capitalize;
}
.footer-li::after{
  content: "";
  clear: both;
  display: table;
}
.footer-li li{margin: 15px 0;}
.footer-li a{
  text-decoration: none;
  color: var(--white);
}
.footer-li a:hover{
  color: #888;
}

.footer-li-row{
  background-color: var(--black);
  padding-left: 80px;
  height: 200px;
}

.footer-li-row .a-row,
.right .a-row{
  color: white;
  padding: 0 10px;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-li-row .a-row:hover,
.right .a-row:hover{
  color: #888;
}
.footer-li-row img{
  width:200px; 
  float: right;
  margin: 0px 50px 0px 0;
  cursor: pointer;
}
.footer-li-row img::after{
  content: "";
  clear: both;
  display: table;
}
.footer-ul{
  background-color: var(--black);
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.left{
  color: var(--white);
  padding-right: 50px;
}

/* ----- I've not enough time to use media query ------- */


